.container {
	display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin-top: 3rem;
    gap: 1rem;
        flex-wrap: wrap;
}


.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 1.25rem;
}

.container button {
    display: flex;
    text-decoration: none;
    border-style: none;
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.container button:hover {
    background-color: #d6d6d6;
}

.ImageBox {
    position: relative;
    width: 200px;
    height: 300px;
    
}

.image {
      object-fit: cover;
  border-radius: 10px;
}

@media (max-width : 600px) {
    .container {
        font-size: 0.8rem;

    }
    .ImageBox{
                width: 200px;
        height: 200px;
    }
}