.container {
    display: flex;
    margin-top: 30px;
    margin-left: 30px;
    gap: 50px;
    overflow-x: scroll;
}

.container::-webkit-scrollbar {
    display: none;
}


.container p{
    margin-top: 10px;
    
}
.card {
    display: grid;
 grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));;
    height: 120%;
    background-color: #ffffff;
    padding: 1.25rem;
    border-radius: 12px;
    transition: all 0.3s ease;
}

.card:hover {
    background-color: #e4e4e4;
}
.header h3 {
    text-align: left;
    margin-left: 30px;
    margin-top: 50px;

}

.header {
    padding-top: 10px;
    padding-bottom: 30px;
    margin-top: 30px;
}


.container img {
    border-radius: 12px;
}

@media (width < 600px)
{ 
    .card{
        background-color: #fff;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    
    }

    .card:hover {
        background-color: #fff;
    }
}